<div class="row">
  
  <div class="col">
    
    <router-outlet name="list"></router-outlet>
    
  </div>
  <div class="col">

    <router-outlet #ra="outlet"></router-outlet>

    <div *ngIf="!ra.isActivated">
      Please select playlist
    </div>

  </div>
</div>
