<div class="row">
  <div class="col-2" *ngIf="(album$ | async) as album">
    <app-album-card [album]="album"></app-album-card>
  </div>

  <div class="col" *ngIf="(album$ | async) as album">
    <audio controls="true" #player></audio>

    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let track of album.tracks.items"
        (click)="player.src = track.preview_url; player.play()"
      >
        {{ track.name }}
      </li>
    </ul>
  </div>
</div>
